*{
    font-family: 'Lato', sans-serif;
}

h1{
text-transform:uppercase;
color:rgb(38, 18, 214);
background-color :rgb(74, 202, 15);
text-align: center;
padding: 20px;
font-weight: 100;
font-size: 45px;
letter-spacing: 1px;
word-spacing: 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .column > img{
    width: 90%;
    height: 250PX;
  }